html {
  scroll-behavior: smooth;
}

.body-wrapper {
  max-width: 1920px;
  overflow: hidden;
}

body {
  background: #ededed;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.header {
  position: fixed;
  display: flex;
  justify-content: end;
  height: 0px;
  z-index: 100;
  left: -100%;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: rgb(89, 89, 89, 0.4);
  backdrop-filter: 100px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}
.show-header{
    left: 0 !important;
}
.h-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.burger-open{
    position:fixed;
    top: 10px;
    left: 10px;
}
.burger-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
  transition: all 0.2s ease-in-out;
}
.burger span {
    transition: all 0.2s ease-in-out;
  display: block;
  background-color: #ededed;
  height: 4.5px;
  margin: 2px 0;
  width: 20px;

}

.burger:hover span{
    background-color: #0056b3;
}
.button {
  display: inline-block;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ededed;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 20px 0;
}

a {
  position: relative;
  text-decoration: none;
  color: #007bff;
}

.button:hover {
  color: #0056b3;
}

.block {
  height: 100vh;
  padding: 40px;
}
#block2 {
  background: #000;
  color: #ededed;
}
#block1 {
  position: relative;
}
.block1-img {
  position: absolute;
  right: -30%;
  top: 0;
  height: 100%;
}
.block1-img img {
  max-height: 100%;
  z-index: -1;
}
.onTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.onTopBtn:hover {
  background-color: #0062cc;
}
